
{% block content %}
{% load static %}
<style>
  body{
        background-color: #c02525;
           
    }
    .btn{
      padding-top: 10px;
      padding-bottom: 10px;
      width: 130px;
      text-align: center;
      font-weight: bold;
      font-size: large;
    }
    .btn:hover{
      background-color: #3e8e41;
      color: white;

    }
    .custom-border {
      border: 15px solid rgb(243, 238, 238); /* Decreased width */
  }
  

</style>
<body>
  <div class="container col-md-4">
    {% for m in messages %}
<h5 style="text-align: center;">
    <div class="alert alert-danger mt-4 ">
        {{ m }}
    </div>
</h5>
    {% endfor %}
</div>
  <br><br><br>
    <form class="px-4 py-3" action="{% url 'log' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <br><br><br><br><br>
      <div class="container col-md-4 custom-border" style="text-align: center;width: 330px;margin-left:500px;">

        <br>
      <div class="form-group">
        <!-- <label for="exampleDropdownFormEmail1">User Name</label> -->
        <input  style="font-weight: bold; font-size: large; border: none; background-color: rgb(248, 228, 217);" type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="Username" name="username" required>
      </div><br>
      <div class="form-group">
        <!-- <label for="exampleDropdownFormPassword1">Password</label> -->
        <input style="font-weight: bold; font-size: large; border: none; background-color: rgb(248, 228, 217);" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" name="password" required>
      </div><br>
      <span style='color:rgb(24, 22, 22);'>Dont have an account ? <a href="/" style='text-decoration:none; color:#fdf9f9;'>signup</a></span><br><br>
     

        <button type="submit" class="btn btn-primary form-control">LOGIN</button><br><br>
      </div>
    </form>
    
    </body>
    <br><br><br><br><br>
    
  {% endblock %}
