{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In </title>
    <meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

		

    <!-- Font Icon -->
    <link rel="stylesheet" href="static/assets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="static/assets/csslog/style.css">
</head>
<style>
    

</style>
<body style="background-color:#A78295;">

    <div class="main" style="background-color:#A78295;">

        {% if messages %}
        {% for message in messages %}
            <label for="" class="text-center" style="background-color: #EFE1D1; width: 30%;color:white;text-shadow: 2px 2px 4px #000000;padding: 10px; border-radius: 10px; margin-left: 52vw; ">{{message}}</label>
        {% endfor %}
     {% endif %}

        <!-- Sign in form -->
        <section class="sign-in" >
            <div class="container" style="width:50%; height:50%;">
                <div class="signin-content" style="background-color: #EFE1D1; ">
                    <div class="signin-image">
                        <img class="d-block w-100" style="height:100%; width:120%;" src="{% static 'image/login.jpg' %}" alt="login page">
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title" style="color:#331D2C;">Sign In</h2>
                        <form class="login-form" id="login-form" class="mt-2" method="post" action="{% url 'log' %}" enctype="multipart/form-data" >
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="username" placeholder="Enter User Name"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder=" Enter Password"/>
                            </div>
                            <div class="form-group">

							
                            </div>
                            <div class="form-group form-button " >
                                
                                <input type="submit" style="background-color:#A78295;color:#331D2C;font-weight: bold;font-size:120%;" name="signin" id="signin" class="form-submit " value="Log in"/>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>